<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div data-controller='endless'>
  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="posts">
      <%= render @posts %>
    </tbody>
  </table>

  <button data-action='click->endless#gotop'>go to Top</button>

  <%= will_paginate @posts %>
</div>  
<br>

<%= link_to 'New Post', new_post_path %>
