<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="posts" data-controller="endless">
    <%= render @posts %>
  </tbody>
</table>

<div class="loading_message"></div>
<%= will_paginate @posts %>
<br>

<%= link_to 'New Post', new_post_path %>
